---
---

@import "skeleton";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,700,700i,900,900i|Fira+Sans:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 3.5em;
    text-transform: lowercase;
    /* letter-spacing: -5px; */
    margin: .5em 0 .5em 0;
    color: #ad6dea;
    text-align: center;
}

html { 
    font-size: 12px;
    background-color: #fff;
    margin: 0 auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #333;
}

a, a:link, a:hover {
    color: #fb4771;
}

.container {
    max-width: 800px;
}

.intro-line {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
    padding: 0 1em 0 1em;
    margin: 0 0 1em 0;
    text-transform: lowercase;
}

footer {
    border-top: #5f1b2b 1px solid;
    margin-top: 3rem;
}

footer div {
    padding-top: 3rem;
}

.example code {
    width: 100%;
    white-space: pre-wrap;
}

li {
    list-style-type: disc;
    list-style-position: outside;
}

ul {
    margin-left: 1.5em;
}

.badges {
    text-align: center;
}

.button.button-primary.contribution-btn {
    background-color: #ad6dea;
    border-color: #ad6dea;
}



@media (max-width: 550px) {
    .intro-line {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.25em;
        font-weight: 300;
        text-align: center;
        padding: 0 1em 0 1em;
        margin: 0 0 1em 0;
        text-transform: lowercase;
    }

    h1 {
        font-size: 2em;
        text-transform: lowercase;
        margin: .5em 0 .5em 0;
        color: #ad6dea;
        text-align: center;
    }
}

.docking-nav {
    display: block;
    height: 2em;
    background-color: #ad6dea;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: .5em .5em .3em .5em;
    /* width: 30%; */
    text-align: center;

    a, a:link, a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

