---
---

@import "skeleton";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,700,700i,900,900i|Fira+Sans:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 3.5em;
    text-transform: lowercase;
    /* letter-spacing: -5px; */
    margin: .5em 0 .5em 0;
    color: #ad6dea;
    text-align: center;
}

html { 
    font-size: 12px;
    background-color: #fff;
    margin: 0 auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #333;
}

a, a:link, a:hover {
    color: #fb4771;
}

.container {
    max-width: 800px;
}

.intro-line {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
    padding: 0 1em 0 1em;
    margin: 0 0 1em 0;
    text-transform: lowercase;
    color: #ad6dea;
}


p.intro-logo {
    img {
        width: 70%;
        max-width: 27rem;
    }

    text-align: center;
    margin-bottom: 0em;
}

footer.container {
    border-top: #ad6dea 0rem solid;
    padding: 3rem 0 5rem 0;
    text-align: center;
}

a.footer-logo {
    img {
        width: 70%;
        margin-top: -1em;
    }
    display: block;
    text-align: center;
}

.example code {
    width: 100%;
    white-space: pre-wrap;
}

li {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: .5em;
    margin-left: 0em;

}

/* li:before {
    color: #ad6dea;
    content:"\2192";
    padding-right: .5em;
} */

/* li {
    text-indent: -.5em;
    padding-left: .5em;
} */

ul, ul ul {
    margin-left: 1.25em;
}

.badges {
    text-align: center;
}

.button.button-primary.contribution-btn {
    background-color: #ad6dea;
    border-color: #ad6dea;
}



@media (max-width: 550px) {
    .intro-line {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.25em;
        font-weight: 300;
        text-align: center;
        padding: 0 1em 0 1em;
        margin: 0 0 1em 0;
        text-transform: lowercase;
    }

    h1 {
        font-size: 2em;
        text-transform: lowercase;
        margin: .5em 0 .5em 0;
        color: #ad6dea;
        text-align: center;
    }
}

.docking-nav {
    display: block;
    height: 2em;
    background-color: #ad6dea;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: .5em;
    margin: 0 auto;
    /* width: 30%; */
    text-align: center;

    a, a:link, a:hover {
        color: #fff;
        text-decoration: none;
        margin: 0 0 -.5em -2em;
        width: 30%;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

